.ipynb_checkpoints/*
.DS_Store
./gigasHSrnaSeq/analysis/tophat_postHS/accepted_hits.bam
./gigasHSrnaSeq/analysis/tophat_postHS/tophat_out/accepted_hits.bam
./gigasHSrnaSeq/analysis/tophat_postHS/tophat_out/unmapped.bam
./gigasHSrnaSeq/analysis/tophat_postHS/unmapped.bam
./gigasHSrnaSeq/analysis/tophat_preHS/tophat_out/accepted_hits.bam
./gigasHSrnaSeq/analysis/tophat_preHS/tophat_out/tmp/left_kept_reads.bam
./gigasHSrnaSeq/analysis/tophat_preHS/tophat_out/tmp/left_kept_reads.mapped.bam
./gigasHSrnaSeq/analysis/tophat_preHS/tophat_out/tmp/left_kept_reads_unmapped.bam
./gigasHSrnaSeq/analysis/tophat_preHS/tophat_out/unmapped.bam
gigasHSrnaSeq/analysis/cuffdiff/
./gigasHSrnaSeq/analysis/cuffdiff/
./gigasHSrnaSeq/analysis/cufflinks_preHS/
./gigasHSrnaSeq/analysis/cufflinks_postHS/
./gigasHSrnaSeq/analysis/cuffquant/
gigasHSrnaSeq/analysis/cufflinks_preHS/
gigasHSrnaSeq/analysis/cufflinks_postHS/
gigasHSrnaSeq/analysis/cuffmerge/
gigasHSrnaSeq/analysis/cuffquant/
temp/
gigasHSrnaSeq/raw_data/2M-HS_CCGTCC_L001_R1_001.fastq.gz
gigasHSrnaSeq/raw_data/2M_AGTCAA_L001_R1_001.fastq.gz
gigasHSrnaSeq/raw_data/4M-HS_GTCCGC_L001_R1_001.fastq.gz
gigasHSrnaSeq/raw_data/4M_AGTTCC_L001_R1_001.fastq.gz
gigasHSrnaSeq/raw_data/6M-HS_GTGAAA_L001_R1_001.fastq.gz
gigasHSrnaSeq/raw_data/6M_ATGTCA_L001_R1_001.fastq.gz
