.DS_Store
./gigasHSrnaSeq/2M-HS_CCGTCC_L001_R1_001.fastq
./gigasHSrnaSeq/2M_AGTCAA_L001_R1_001.fastq
./gigasHSrnaSeq/2M_fastx_trimmed.fastq
./gigasHSrnaSeq/2M_fastx_trimmed.fastq.gz
./gigasHSrnaSeq/2MHS_fastx_trimmed.fastq.gz
./gigasHSrnaSeq/4M-HS_GTCCGC_L001_R1_001.fastq
./gigasHSrnaSeq/4M_AGTTCC_L001_R1_001.fastq
./gigasHSrnaSeq/4M_AGTTCC_L001_R1_001.fastq.gz
./gigasHSrnaSeq/4M_fastx_trimmed.fastq.gz
./gigasHSrnaSeq/4MHS_fastx_trimmed.fastq.gz
./gigasHSrnaSeq/6M-HS_GTGAAA_L001_R1_001.fastq
./gigasHSrnaSeq/6M_ATGTCA_L001_R1_001.fastq
./gigasHSrnaSeq/6M_fastx_trimmed.fastq.gz
./gigasHSrnaSeq/6MHS_fastx_trimmed.fastq.gz
./gigasHSrnaSeq/analysis/tophat_postHS/accepted_hits.bam
./gigasHSrnaSeq/analysis/tophat_postHS/tophat_out/accepted_hits.bam
./gigasHSrnaSeq/analysis/tophat_postHS/tophat_out/unmapped.bam
./gigasHSrnaSeq/analysis/tophat_postHS/unmapped.bam
./gigasHSrnaSeq/analysis/tophat_preHS/tophat_out/accepted_hits.bam
./gigasHSrnaSeq/analysis/tophat_preHS/tophat_out/tmp/left_kept_reads.bam
./gigasHSrnaSeq/analysis/tophat_preHS/tophat_out/tmp/left_kept_reads.mapped.bam
./gigasHSrnaSeq/analysis/tophat_preHS/tophat_out/tmp/left_kept_reads_unmapped.bam
./gigasHSrnaSeq/analysis/tophat_preHS/tophat_out/unmapped.bam
